body {
  text-align: center;
  color: white;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
button {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: white;
}
img {
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease;
  height: 200px;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
}
#footer-copy {
  color: black;
  display: block;
}
@media (min-width: 320px) and (max-width: 1024px) {
  #footer-copy {
    font-size: 30px;
  }
  .github-button {
    font-size: 35px !important;
    display: block;
    max-width: 50%;
    margin: 20px auto;
    padding: 10px !important;
  }
  .github-logo{
    width: 50px !important;
  }
}
.github-button {
  text-decoration: none;
  color: black;
  background-color: #d1d1d1;
  padding: 7px;
  border-radius: 1px;
  transition: background 0.2s ease;
}
.github-button:hover {
  background-color: #b0b0b0;
  transition: background 0.2s ease;
}
.github-logo {
  content: url("https://image.flaticon.com/icons/svg/25/25231.svg");
  width: 20px;
  margin-top: -3px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-right: 5px;
}
